.post-body {
  +mobile() {
    text-align: justify;
  }
}

.post-body img {margin: 0 auto;}

.post-footer .copyright{
  padding-top: 1.5em;
  padding-left: 1em;
  font-size: 12px;
  line-height: 1em;
  border:1px solid #ccc;
}