$font-family-headings = Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, "TW\-Kai", Lato, "PingFang SC", "Microsoft YaHei", sans-serif, "Times New Roman", serif; // 标题，修改成你期望的字体族

$font-family-base = askerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, "TW\-Kai", Lato, "PingFang SC", "Microsoft YaHei", sans-serif; // 修改成你期望的字体族

$code-font-family = "Input Mono", "PT Mono", Consolas, Monaco, Menlo, monospace // 代码字体

// Font size
$font-size-base = 16px // 正文字体的大小
$font-size-small          = $font-size-base - 2px
$font-size-smaller        = $font-size-base - 4px
$font-size-large          = $font-size-base + 4px

// Headings font size
$font-size-headings-base  = 28px
$font-size-headings-step  = 2px

$code-font-size = 13px // 代码字体的大小